/* Toast Success Styles - Using CSS to ensure background color is applied */
.toast-success {
	background-color: #EAF9EF !important;
	border-color: #1D9C48 !important;
}

.toast-success .toast-icon {
	color: #1D9C48 !important;
}

.toast-success .toast-text {
	color: #1D9C48 !important;
}

.toast-success .toast-icon-bg {
	background-color: #C5F5D5 !important;
}

